extends layout

block content
  div.index-container
    h1 #{title}
    div.count-container
      p Number of items in the inventory: #{itemCount}
        a(href="/inventory/items") View items
      p Number of categories in the inventory: #{categoryCount}
        a(href="/inventory/categories") View categories
    