body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #00B7FF;
}

.index-container {
  margin: 0 auto;
  width: 800px;
}

.count-container a {
  margin-left: 10px;
}

.content-container {
  margin-top: 40px;
}